.column {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	word-break: break-word;
	padding: 0 16px;

	&.let-flow .column-content {
		overflow-x: initial;
		overflow-y: initial;
	}
}

@media only screen and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
	.column {
		padding: 0;
	}

	.column-content {
		padding-left: 8px;
	}
}

.heading {
	background: #279bbc;
	min-height: 32px;
	width: 100%;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.column-content {
	flex: 1 1 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
}
